.headernav{
    width: 100%;
    height: 70px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position:fixed;
    z-index: 2;
    background: white;
    top: 0;
}

.headernav__span{
    color: red;
    padding-left: 10px;
}
.bx-user-plus, .bxs-user, .bxs-cart-add, .bx-store{
    color:rgba(0, 0, 0, 0.561);
}
.headernav__ul{
    height: 70px;
    display: flex;        
}
.headernav__li{
    height: 70px;
    border-left: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:25px ;
    transform: scale(1);
}
@media (max-width:508px){
    .headernav__span{        
       
        font-size: 1.7rem;
    }
}
@media (max-width:400px){
    .headernav__span{        
        
        font-size: 1rem;
    }
}

.form__disablee{
        transition: 0;
        transform: scale(0);
    
}