.Homepage {
    width: 100%;
    position: relative;
}

.Homepage__search {
    width: 60%;
    height: 40px;
    margin-top: 90px;
    margin-bottom: 50px;
    margin-left: 25%;
    font-size: .9rem;
    padding: 5px 14px;
    border: 1px solid #dcd9d9;

}

.search {
    position: absolute;
    top: 90px;
    width: 30px;
    height: 40px;
    padding-top: 10px;
    padding-left: 3px;
    background: #f85555;
    ;
    color: white;
}

.Homepage__filter__btn {
    position: absolute;
    top: 140px;
    right: 25px;
    display: none;
    cursor: pointer;
}

.product-container {
    margin-left: 25%;
    display: flex;
    justify-content: center;
    gap: 1.5em 2em;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

/* ***********CSS DE FILTROS*********** */
.Homepage__filter {
    width: 230px;
    height: 400px;
    top: 130px;
    margin-left: 30px;
    position: fixed;
    transform: scale(1);
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.422);

}

.Homepage__filterprice {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 150px;
}

.Homepage__hr {
    margin-bottom: 8px;
}

.Homepage__filterprice__span {
    width: 80px;
    margin-right: 30px;
}

.Homepage__span-to {
    margin-right: 50px;
}

.Homepage__filterprice__input {
    width: 150px;
}

.Homepage__btn__filter {
    border-radius: 5px;
    color: #fff;
    display: block;
    margin: 5px 0 20px auto;
    padding: 8px 15px;
    background: #f85555;
    border: none;
}



@media (max-width: 1000px) {
    .Homepage__search {
        width: 90%;
    }

}

@media (max-width: 960px) {

    .form__disable {
        transform: scale(0);
        transition: 0.5s;


    }
    .Homepage__filter {
        width: 280px;
        height: 400px;
        top: 190px;
        right: 0;
        position: fixed;
        z-index: 1;
        background: rgba(248,190,190,255);
        border-radius: 10px;
        padding: 15px;
        
    
    
    }



    .Homepage__search {
        width: 86%;
        margin-left: 7%;
    }
    
    .product-container {
        width: 86%;
        margin-left: 7%;
    }

    .Homepage__filter__btn {
        display: block;
    }
}