.productidpage__box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    margin: 140px 5%;
}

@media (max-width: 750px) {
    .productidpage__box{               
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;  
        margin-left: 10%;      
    }
}